<nav class="navbar navbar-expand navbar-dark bg-dark">
    <span class="navbar-brand">Logo</span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample02" aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarsExample02">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="" routerLinkActive="router-link-active" >ínicio </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/cadastrar" routerLinkActive="router-link-active" >Cadastro</a>
        </li>
      </ul>
    </div>
  </nav>