<!-- <div class="row">
    <div class="col-sm-6 justify-content-md-center mt-4" *ngFor="let user of users">
        <div class="card">
            <div class="card-body">
                <h3>
                    {{user.name}} ,
                    <small class="text-muted">{{user.nickname}}</small>
                </h3>
                <p class="card-text">Olá, esse é meu email : {{user.email}}</p>
                <p class="card-text">stack: {{user.stack}} </p>
                <a class="btn btn-warning mr-2" [routerLink]="['/editar', user.code]"
                    routerLinkActive="router-link-active" (click)="teste()">Editar</a>
                <button class="btn btn-danger" (click)="deleteUser(user)">Deletar</button>
            </div>
        </div>
    </div>

</div> -->

<!-- 
<div class="row  justify-content-md-center mt-4" *ngIf="users[0] === undefined">
    <div class="col-md-8 ">
        <div class="card text-center mt-4">

            <div class="card-body">
                <h5 class="card-title">Fala parça !</h5>
                <p class="card-text">Aqui está tudo vazio.</p>
                <a [routerLink]="['/cadastrar']" routerLinkActive="router-link-active"  class="btn btn-primary">Cadastrar</a>
            </div>

        </div>
    </div>
</div> -->
<h2 class="mt-3">Tabela geral</h2>
<hr>
<div class="mt-3">
    <div class="mt-1 row  mb-2">
        <div class="col-md-4">
            <div class="form-group">
                <input type="text" class="form-control" id="code" name="code" placeholder="código"
                    [(ngModel)]="userFilter.code">
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">

                <input type="text" class="form-control" id="name" name="name" placeholder="nome"
                    [(ngModel)]="userFilter.name">
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">

                <input type="text" class="form-control" id="status" name="status" placeholder="status"
                    [(ngModel)]="userFilter.status">
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">

                <button class="btn btn-primary" (click)="filter()">filtrar</button>
            </div>
        </div>
    </div>
</div>


<table class="table">
    <thead>
        <tr>
            <th scope="col">Codígo</th>
            <th scope="col">Nome</th>
            <th scope="col">Status</th>
            <th scope="col">Data</th>
            <th scope="col">Opções</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users">
            <th scope="row">{{user.code}}</th>
            <td>{{user.name}}</td>
            <td>{{user.status}}</td>
            <td>{{user.data}}</td>
            <td>
                <button  class="btn btn-danger" (click)="deletar(user)">Deletar</button>
            </td>
        </tr>
    </tbody>
</table>